@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: "Roboto";
};

.bg-header-color{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
};